<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <title>Chat</title>
        <meta name="viewport" content="device-width, initial-scale=1.0">
        <script src="/socket.io/socket.io.js"></script>
        <link rel="stylesheet" type="text/css" href="css/chat.css">
    </head>
    <body>
        <header>
            <h1>Bem vindo ao chat</h1>
        </header>
        <div class="chat-container">
            <section class="chat-messages-container">
                <ul class="messages-list">
                </ul>
            </section>
            <div class="chat-actions">
                <input type="text" class="text-input" placeholder="digite sua mensagem..."/>
                <button type="button" class="send">enviar</button>
            </div>
        </div>

        <script>
            var socket = io();

            $joinChat = document.querySelector('.join');
            $button = document.querySelector('button');
            $input = document.querySelector('input');
            $ul = document.querySelector('ul');

            $button.addEventListener('click', ()=>{
                console.log($input.value);
                socket.emit('chat message', $input.value);
                $input.value = "";

            })

            socket.on('chat message', data =>{
                const li = document.createElement('li');
                li.innerText = data;
                $ul.appendChild(li);
            })

        </script>

    </body>
</html>
