html, body{
    background: linear-gradient(#0174DF, #E0ECF8);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
body{
    overflow-y: hidden;
}

.chat-container{
    width: 80%;
    margin: 0 auto;
    height:20em;
    background-color: #fff;
    border: 1px solid lightgrey;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.chat-messages-container{
    height:18em;
    overflow-y: auto;
    overflow-x: hidden;
    word-wrap: break-word;
    padding-top: 0;
    padding-bottom: 0;

}

.messages-list{
    padding:0 ;
    list-style: none;
}

.chat-actions{
    display: flex;
}

.text-input{
    flex-grow: 2;
}

.box-form{
    margin: 0 auto;
    margin-top: 5%;
    width: 50%;
    height: 100%;
    background-color:#0174DF ;
    
}
@media (max-width: 780px) {
    div.block-user {
        width: 90%;
        margin-top: 10PX ;
        font-size: 12px;
        
    }
    h3{
        font-size: 16px;
    }
}